{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        input {
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Bookigami - skládání knih</h1>
        </div>

        <div class="row">
            {{ form_start(newImageForm) }}
            {{ form_errors(newImageForm) }}
                {{ form_row(newImageForm.name) }}
                {{ form_row(newImageForm.method) }}
                {{ form_row(newImageForm.sheets) }}
                {{ form_row(newImageForm.height) }}
                {{ form_row(newImageForm.image) }}

                <button class="btn btn-success">Zpracovat</button>
            {{ form_end(newImageForm) }}
        </div>
        <div class="row">
            <!-- Block content -->
            <div class="block-heading">
                <h2 class="text-info">Nejnovější patterny</h2>
            </div>
        </div>
        <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 justify-content-center" style="margin-right: -15px;">
            {% for pattern in patterns %}
                <div class="col-sm-6 col-lg-4 products">
                    <a href="{{ path('pattern_view', {'id': pattern.id, 'name': pattern.name }) }}">
                        <div class="card clean-card text-center">
                            {% if date() | date('Y-m-d H:i:s') < date(pattern.created) | date_modify('+10 minutes') | date('Y-m-d H:i:s') %}
                                <span class="badge badge-success">Není starší než 10 minut</span>
                            {% endif %}
                            <img class="card-img-top w-100 d-block" style="height: 400px!important;" src="{{ pattern.img }}">
                            <div class="card-body info">
                                <h4 class="card-title">{{ pattern.name }}</h4>
                                <h6 class="card-subtitle">{% if pattern.method == 1 %}fold{% elseif pattern.method == 2 %}cut{% elseif pattern.method == 3 %}kombinované{% else %}střed + kombinované{% endif %}</h6>
                                <p class="card-text">{{ pattern.created | date("d-m-Y H:i:s") }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row pagination align-items-center">
            {% if not paginator.first %}
                <a href="{{path('homepage', { 'page' : paginator.base }) }}">První</a>
                &nbsp;|&nbsp;
            {% endif %}
            <a href="{{ path('homepage', { 'page' : paginator.page - 1 }) }}">Předchozí</a>
            &nbsp;|&nbsp;
            Stránka {{ paginator.page }} z {{ paginator.pageCount }}
            &nbsp;|&nbsp;
            <a href="{{ path('homepage', { 'page' : paginator.page + 1 }) }}">Další</a>
            {% if not paginator.last %}
                &nbsp;|&nbsp;
                <a href="{{ path('homepage', { 'page' : paginator.pageCount }) }}">Poslední</a>
            {% endif %}
        </div>
        <!-- content -->
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
