{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Zpracování obrázku - Kombinovaná metoda s polovinou</h1>
        </div>
        <div class="row">
            <a href="{{ path('homepage') }}" role="button" class="btn btn-secondary">Zpět na hlavní</a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removePattern">
                Odstranit pattern
            </button>
            <button type="button" class="btn btn-primary" onclick="exportPattern('{{ pattern.name }}')">
                Exportovat XLSX
            </button>
            <button type="button" class="btn btn-warning" onclick="exportPatternAsPDF('{{ pattern.name }}', {{ pattern.height }}, {{ pattern.method }})">
                Exportovat PDF
            </button>
            <button type="button" class="btn btn-info" onclick="fastExportPatternAsPDF('{{ pattern.name }}', {{ pattern.height }}, {{ pattern.method }}, {{ pattern.sheets }})">
                Rychlý export
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#importPatternModal">
                Importovat XLSX
            </button>
            <button type="button" class="btn btn-success" id="saveBtn" hidden onclick="savePattern({{ pattern.id }}, {{ pattern.method }})">
                Uložit změny
            </button>
            <!-- Modal -->
            <div class="modal fade" id="removePattern" tabindex="-1" role="dialog" aria-labelledby="removePatternLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="removePatternLabel">Odstranění patternu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Opravdu si přejete odstranit tento Pattern?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                            <a href="{{ path('pattern_remove', {'id': pattern.id}) }}" role="button" class="btn btn-danger">Odstranit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="importPatternModal" tabindex="-1" role="dialog" aria-labelledby="importPatternLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="importPatternLabel">Importování patternu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="inputPattern">Vložte XLSX se souřadnicemi pro importování</label>
                                    <input type="file" class="form-control-file" id="inputPattern" style="max-width: 500px" accept=".xls, .xlsx">
                                </div>
                                <div>
                                    Podoba tabulky :<br />
                                    <small>Pořadí cutů musí být dodrženo, první musí být cutStarted1-X = X udává počet cutů (neomezeně). Pořadí foldu nehraje roli.</small>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <td>x</td>
                                            <td>foldStarted</td>
                                            <td>cutStarted1-1</td>
                                            <td>cutEnded1-1</td>
                                            <td>cutStarted1-2</td>
                                            <td>cutEnded1-2</td>
                                            <td>cutStarted1-3</td>
                                            <td>cutEnded1-3</td>
                                            <td>foldEnded</td>
                                            <td>halfLine</td>
                                            <td>foldStarted2</td>
                                            <td>cutStarted2-1</td>
                                            <td>cutEnded2-1</td>
                                            <td>cutStarted2-2</td>
                                            <td>cutEnded2-2</td>
                                            <td>cutStarted2-3</td>
                                            <td>cutEnded2-3</td>
                                            <td>foldEnded2</td>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="importPattern({{ height }}, {{ pattern.method }})" id="importPattern">
                                Importovat XLSX
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding-bottom: 20px; padding-top: 20px">
        <div class="row">
            <table id="mainTable" class="table">
                <thead>
                    <tr>
                        <th scope="col" style="width: 5%;">List</th>
                        <th scope="col">Fold konec</th>
                        <th scope="col">Cut</th>
                        <th scope="col">Fold začátek</th>
                        <th scope="col">Střed</th>
                        <th scope="col">Fold konec</th>
                        <th scope="col">Cut</th>
                        <th scope="col">Fold začátek</th>
                        <th scope="col" class="pattern"></th>
                    </tr>
                    <tr>
                        <th scope="col" style="width: 5%;" class="secondTh"></th>
                        <th scope="col" class="secondTh">
                            <input step="0.1" id="foldEndAdd1" type="number" onchange="addFoldEnd1( {{ height }} )" value="0.0">
                        </th>
                        <th scope="col" class="secondTh">
                            <input step="0.1" id="cutEndAdd1" type="number" onchange="addCutEnd1( {{ height }} )" value="0.0">
                            <input step="0.1" id="cutStartAdd1" type="number" onchange="addCutStart1( {{ height }} )" value="0.0">
                        </th>
                        <th scope="col" class="secondTh">
                            <input step="0.1" id="foldStartAdd1" type="number" onchange="addFoldStart1( {{ height }} )" value="0.0">
                        </th>
                        <th scope="col" class="secondTh">
                        </th>
                        <th scope="col" class="secondTh">
                            <input step="0.1" id="foldEndAdd" type="number" onchange="addFoldEnd( {{ height }} )" value="0.0">
                        </th>
                        <th scope="col" class="secondTh">
                            <input step="0.1" id="cutEndAdd" type="number" onchange="addCutEnd( {{ height }} )" value="0.0">
                            <input step="0.1" id="cutStartAdd" type="number" onchange="addCutStart( {{ height }} )" value="0.0">
                        </th>
                        <th scope="col" class="secondTh">
                            <input step="0.1" id="foldStartAdd" type="number" onchange="addFoldStart( {{ height }} )" value="0.0">
                        </th>
                        <th scope="col" class="pattern secondTh"></th>
                    </tr>
                </thead>
                <tbody id="tablePattern">
                    {% for coord in pattern.coords %}
                        <tr id="{{ coord.x }}">
                            <td class="index">
                                <div class="h-10">
                                    <button type="button" class="minus" onclick="removeLine( {{ coord.x }}, {{ pattern.method }}, {{ height }} )"></button>
                                    <button type="button" class="plus" onclick="addNewLine( {{ coord.x }}, {{ pattern.method }}, {{ height }} )"></button>
                                    {{ coord.x }}
                                    <input class="sheet" id="sheet-{{ coord.x }}" hidden type="number" value="{{ coord.x }}">
                                </div>
                            </td>
                            <td>
                                <div class="h-10">
                                    {% if coord.y.foldEnded1 > 0 %}
                                        <input class="foldEnd1" step="0.1" id="foldEnd1-{{ coord.x }}" type="number" onchange="changeFold1( {{ coord.x }}, {{ height }} )" value="{{ (coord.y.foldEnded1 * 0.02645) | round(1, 'floor') }}">
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="h-10">
                                    <div style="display: flex;">
                                        {% set i = 0 %}
                                        {% for cut in coord.y.cutView1 %}
                                            {% if cut is not empty %}
                                                <div class="cut1" style="border-color: #FFFFFF">
                                                    <input class="cutEnd1" step="0.1" id="cutEnd1-{{ coord.x }}-{{ i }}" type="number" onchange="changeCut1({{ coord.x }}, {{ i }}, {{ height }})" value="{{ (cut.1 * 0.02645) | round(1, 'floor') }}">
                                                    <input class="cutStart1" step="0.1" id="cutStart1-{{ coord.x }}-{{ i }}" type="number" onchange="changeCut1({{ coord.x }}, {{ i }}, {{ height }})" value="{{ (cut.0 * 0.02645) | round(1, 'floor') }}" style="margin-right: 5px">
                                                </div>
                                                {% endif %}
                                            {% set i = i + 1 %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="h-10">
                                    {% if coord.y.foldStarted1 > 0 %}
                                        <input class="foldStart1" step="0.1" id="foldStart1-{{ coord.x }}" type="number" onchange="changeFold1( {{ coord.x }}, {{ height }} )" value="{{ (coord.y.foldStarted1 * 0.02645) | round(1, 'floor') }}">
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="h-10">
                                    <input step="0.1" id="halfIn-{{ coord.x }}" class="halfIn" type="number" onchange="changeHalf( {{ coord.x }}, {{ height }} )" value="{{ ((coord.y.halfStarted + coord.y.halfEnded) / 2 * 0.02645) | round(1, 'floor') }}">
                                </div>
                            </td>
                            <td>
                                <div class="h-10">
                                    <input class="foldEnd" step="0.1" id="foldEnd-{{ coord.x }}" type="number" onchange="changeFold( {{ coord.x }}, {{ height }} )" value="{{ (coord.y.foldEnded * 0.02645) | round(1, 'floor') }}">
                                </div>
                            </td>
                            <td>
                                <div class="h-10">
                                    <div style="display: flex;">
                                        {% set i = 0 %}
                                        {% for cut in coord.y.cutView %}
                                            {% if cut is not empty %}
                                                <div class="cut" style="border-color: #FFFFFF">
                                                    <input class="cutEnd" step="0.1" id="cutEnd-{{ coord.x }}-{{ i }}" type="number" onchange="changeCut({{ coord.x }}, {{ i }}, {{ height }})" value="{{ (cut.1 * 0.02645) | round(1, 'floor') }}">
                                                    <input class="cutStart" step="0.1" id="cutStart-{{ coord.x }}-{{ i }}" type="number" onchange="changeCut({{ coord.x }}, {{ i }}, {{ height }})" value="{{ (cut.0 * 0.02645) | round(1, 'floor') }}" style="margin-right: 5px">
                                                </div>
                                            {% endif %}
                                            {% set i = i + 1 %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="h-10">
                                    <input class="foldStart" step="0.1" id="foldStart-{{ coord.x }}" type="number" onchange="changeFold( {{ coord.x }}, {{ height }} )" value="{{ (coord.y.foldStarted * 0.02645) | round(1, 'floor') }}">
                                </div>
                            </td>
                            <td style="position: relative">
                                <div class="h-10">
                                    <div id="fold-{{ coord.x }}" style="top: 0; right: {{ coord.y.foldStarted / height }}%; width: {{ (coord.y.foldEnded - coord.y.foldStarted) / height }}%; position: absolute;background-color: black; height: 85%"></div>
                                    {% set i = 0 %}
                                    {% for cut in coord.y.cutView %}
                                        {% if cut is not empty %}
                                            <div class="cutLine" id="cut-{{ coord.x }}-{{ i }}" style="top: 0; right: {{ cut.0 / height }}%; width: {{ (cut.1 - cut.0) / height }}%; position: absolute;background-color: yellow; height: 85%"></div>
                                        {% endif %}
                                        {% set i = i + 1 %}
                                    {% endfor %}
                                    <div id="fold1-{{ coord.x }}" style="top: 0; right: {{ coord.y.foldStarted1 / height }}%; width: {{ (coord.y.foldEnded1 - coord.y.foldStarted1) / height }}%; position: absolute;background-color: black; height: 85%"></div>
                                    {% set i = 0 %}
                                    {% for cut in coord.y.cutView1 %}
                                        {% if cut is not empty %}
                                            <div class="cutLine1" id="cut1-{{ coord.x }}-{{ i }}" style="top: 0; right: {{ cut.0 / height }}%; width: {{ (cut.1 - cut.0) / height }}%; position: absolute;background-color: yellow; height: 85%"></div>
                                        {% endif %}
                                        {% set i = i + 1 %}
                                    {% endfor %}
                                    <div id="half-{{ coord.x }}" class="half" style="top: 0; right: {{ coord.y.halfStarted / height }}%; width: 1%; position: absolute;background-color: green; height: 100%"></div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
