<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Description" name="description">
    <meta content="index,follow" name="robots">
        <title>{% block title %}Bookigami - skládání knih{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        {% block stylesheets %}
            <style>
                table {
                    overflow-y: auto;
                }
                table thead th {
                    position: sticky;
                    top: 0;
                    background: white;
                    border-bottom: 2px solid #dee2e6;
                }
                input {
                    max-width: 60px;
                    text-align: center;
                }
                #tablePattern input {
                    height: 20px;
                }
                table td {
                    border-right: 1px solid #ccc;
                    padding: 0;
                }
                .table td, .table th {
                    padding: 0;
                }
                .secondTh {
                    top: 40px;
                }
                .index {
                    border-right: 1px solid #ccc;
                    color: black;
                    font-weight: bold;
                }
                .pattern {
                    width: 80%;
                }
                .pattern-list {
                    width: 2%;
                }
                .h-10 {
                    height: 20px;
                }
                .minus {
                    width: 20px;
                    height: 20px;
                    border-radius: .25rem;
                    border: 1px solid transparent;
                    /*display: block;*/
                    background-color: red;
                }
                .plus {
                    width: 20px;
                    height: 20px;
                    border-radius: .25rem;
                    border: 1px solid transparent;
                    background-color: green;
                }
                .cut {
                    display: flex;
                }
                .modal-dialog {
                    max-width: 1600px;
                }
            </style>
        {% endblock %}

        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body>
        {% for message in app.session.flashbag.get('success') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <p>{{ message }}</p>
            </div>
        {% endfor %}

        {% for message in app.session.flashbag.get('info') %}
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <p>{{ message }}</p>
            </div>
        {% endfor %}

        {% for message in app.session.flashbag.get('warning') %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <p>{{ message }}</p>
            </div>
        {% endfor %}

        {% for message in app.session.flashbag.get('danger') %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="{{ asset('javascripts/jquery.table2excel.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
        <script>
            function changeFold(row, height) {
                let foldStart = document.getElementById("foldStart-" + row).value;
                let foldEnd = document.getElementById("foldEnd-" + row).value;
                foldStart = Math.ceil(foldStart / 0.02645);
                foldEnd = Math.ceil(foldEnd / 0.02645);

                document.getElementById("fold-"+row).style.right = (foldStart / height)+"%";
                document.getElementById("fold-"+row).style.width = ((foldEnd - foldStart) / height)+"%";

                enableSaveButton();
            }
            function changeFold1(row, height) {
                let foldStart = document.getElementById("foldStart1-" + row).value;
                let foldEnd = document.getElementById("foldEnd1-" + row).value;
                foldStart = Math.ceil(foldStart / 0.02645);
                foldEnd = Math.ceil(foldEnd / 0.02645);

                document.getElementById("fold1-"+row).style.right = (foldStart / height)+"%";
                document.getElementById("fold1-"+row).style.width = ((foldEnd - foldStart) / height)+"%";
                enableSaveButton();
            }
            function changeHalf(row, height) {
                $("tbody tr").each(function(){
                    let half = $(this).find("#halfIn-"+row).val();
                    let x = $(this).find(".sheet").val();

                    $(this).find(".halfIn").val(half);

                    if (document.getElementById("half-" + x)) {
                        document.getElementById("half-" + x).style.right = ( (half/0.02645) / height)+"%";
                    }
                });
                enableSaveButton();
            }
            function changeCut(row, cut, height) {
                let cutStart = document.getElementById("cutStart-" + row + "-" + cut).value;
                let cutEnd = document.getElementById("cutEnd-" + row + "-" + cut).value;
                cutStart = Math.ceil(cutStart / 0.02645);
                cutEnd = Math.ceil(cutEnd / 0.02645);

                document.getElementById("cut-"+ row + "-" + cut).style.right = (cutStart / height)+"%";
                document.getElementById("cut-"+ row + "-" + cut).style.width = ((cutEnd - cutStart) / height)+"%";
                enableSaveButton();
            }
            function changeCut1(row, cut, height) {
                let cutStart = document.getElementById("cutStart1-" + row + "-" + cut).value;
                let cutEnd = document.getElementById("cutEnd1-" + row + "-" + cut).value;
                cutStart = Math.ceil(cutStart / 0.02645);
                cutEnd = Math.ceil(cutEnd / 0.02645);

                document.getElementById("cut1-"+ row + "-" + cut).style.right = (cutStart / height)+"%";
                document.getElementById("cut1-"+ row + "-" + cut).style.width = ((cutEnd - cutStart) / height)+"%";
                enableSaveButton();
            }
            function addFoldEnd1(height) {
                let addVal = document.getElementById("foldEndAdd1").value;

                $("tbody tr").each(function(){
                    let x = $(this).find(".sheet").val();
                    let endVal = $(this).find(".foldEnd1").val();
                    let startVal = $(this).find(".foldStart1").val();
                    let newVal =  parseFloat(endVal)+parseFloat(addVal);
                    $(this).find(".foldEnd1").val(newVal.toFixed(1));

                    if (document.getElementById("fold1-" + x)) {
                        document.getElementById("fold1-" + x).style.width = (((newVal / 0.02645) - (parseFloat(startVal) / 0.02645)) / height).toFixed(1) + "%";
                    }
                    document.getElementById("foldEndAdd1").value = 0.0;
                });
                enableSaveButton();
            }
            function addFoldStart1(height) {
                let addVal = document.getElementById("foldStartAdd1").value;

                $("tbody tr").each(function(){
                    let x = $(this).find(".sheet").val();
                    let endVal = $(this).find(".foldEnd1").val();
                    let startVal = $(this).find(".foldStart1").val();
                    let newVal =  parseFloat(startVal)+parseFloat(addVal);
                    $(this).find(".foldStart1").val(newVal.toFixed(1));

                    if (document.getElementById("fold1-" + x)) {
                        document.getElementById("fold1-" + x).style.right = ((newVal / 0.02645) / height).toFixed(1) + "%";
                        document.getElementById("fold1-" + x).style.width = (((parseFloat(endVal) / 0.02645) - (newVal / 0.02645)) / height).toFixed(1) + "%";
                    }
                    document.getElementById("foldStartAdd1").value = 0.0;
                });
                enableSaveButton();
            }
            function addFoldEnd(height) {
                let addVal = document.getElementById("foldEndAdd").value;

                $("tbody tr").each(function(){
                    let x = $(this).find(".sheet").val();
                    let endVal = $(this).find(".foldEnd").val();
                    let startVal = $(this).find(".foldStart").val();
                    let newVal =  parseFloat(endVal)+parseFloat(addVal);
                    $(this).find(".foldEnd").val(newVal.toFixed(1));

                    if (document.getElementById("fold-" + x)) {
                        document.getElementById("fold-" + x).style.width = (((newVal / 0.02645) - (parseFloat(startVal) / 0.02645)) / height).toFixed(1) + "%";
                    }
                    document.getElementById("foldEndAdd").value = 0.0;
                });
                enableSaveButton();
            }
            function addFoldStart(height) {
                let addVal = document.getElementById("foldStartAdd").value;

                $("tbody tr").each(function(){
                    let x = $(this).find(".sheet").val();
                    let endVal = $(this).find(".foldEnd").val();
                    let startVal = $(this).find(".foldStart").val();
                    let newVal =  parseFloat(startVal)+parseFloat(addVal);
                    $(this).find(".foldStart").val(newVal.toFixed(1));

                    if (document.getElementById("fold-" + x)) {
                        document.getElementById("fold-" + x).style.right = ((newVal / 0.02645) / height).toFixed(1) + "%";
                        document.getElementById("fold-" + x).style.width = (((parseFloat(endVal) / 0.02645) - (newVal / 0.02645)) / height).toFixed(1) + "%";
                    }
                    document.getElementById("foldStartAdd").value = 0.0;
                });
                enableSaveButton();
            }
            function addCutEnd1(height) {

                let addVal = document.getElementById("cutEndAdd1").value;

                $("tbody tr").each(function(){
                    let x = $(this).find(".sheet").val();
                    $(this).find(".cut1").each(function(index){
                        let endVal = $(this).find(".cutEnd1").val();
                        let startVal = $(this).find(".cutStart1").val();
                        let newVal =  parseFloat(endVal)+parseFloat(addVal);
                        $(this).find(".cutEnd1").val(newVal.toFixed(1));

                        document.getElementById("cut1-" + x + "-" + index).style.width = (((newVal / 0.02645) - (parseFloat(startVal) / 0.02645)) / height).toFixed(1) + "%";
                    });
                    document.getElementById("cutEndAdd1").value = 0.0;
                });
                enableSaveButton();
            }
            function addCutStart1(height) {
                let addVal = document.getElementById("cutStartAdd1").value;

                $("tbody tr").each(function(){
                    let x = $(this).find(".sheet").val();

                    $(this).find(".cut1").each(function(index){
                        let endVal = $(this).find(".cutEnd1").val();
                        let startVal = $(this).find(".cutStart1").val();
                        let newVal = parseFloat(startVal)+parseFloat(addVal);
                        $(this).find(".cutStart1").val(newVal.toFixed(1));

                        document.getElementById("cut1-" + x + "-" + index).style.right = ((newVal / 0.02645) / height).toFixed(1) + "%";
                        document.getElementById("cut1-" + x + "-" + index).style.width = (((parseFloat(endVal) / 0.02645) - (newVal / 0.02645)) / height).toFixed(1) + "%";
                    });
                });
                document.getElementById("cutStartAdd1").value = 0.0;
                enableSaveButton();
            }
            function addCutEnd(height) {
                let addVal = document.getElementById("cutEndAdd").value;

                $("tbody tr").each(function(){
                    let x = $(this).find(".sheet").val();
                    $(this).find(".cut").each(function(index){
                        let endVal = $(this).find(".cutEnd").val();
                        let startVal = $(this).find(".cutStart").val();
                        let newVal =  parseFloat(endVal)+parseFloat(addVal);
                        $(this).find(".cutEnd").val(newVal.toFixed(1));

                        document.getElementById("cut-" + x + "-" + index).style.width = (((newVal / 0.02645) - (parseFloat(startVal) / 0.02645)) / height).toFixed(1) + "%";
                    });
                    document.getElementById("cutEndAdd").value = 0.0;
                });
                enableSaveButton();
            }
            function addCutStart(height) {
                let addVal = document.getElementById("cutStartAdd").value;

                $("tbody tr").each(function(){
                    let x = $(this).find(".sheet").val();

                    $(this).find(".cut").each(function(index){
                        let endVal = $(this).find(".cutEnd").val();
                        let startVal = $(this).find(".cutStart").val();
                        let newVal = parseFloat(startVal)+parseFloat(addVal);
                        $(this).find(".cutStart").val(newVal.toFixed(1));

                        document.getElementById("cut-" + x + "-" + index).style.right = ((newVal / 0.02645) / height).toFixed(1) + "%";
                        document.getElementById("cut-" + x + "-" + index).style.width = (((parseFloat(endVal) / 0.02645) - (newVal / 0.02645)) / height).toFixed(1) + "%";
                    });
                });
                document.getElementById("cutStartAdd").value = 0.0;
                enableSaveButton();
            }
            function removeLine (line, method, height) {
                let coords = [];
                let sheet = 1;
                $("tbody tr").each(function(index) {
                    let x = parseInt($(this).find(".sheet").val());

                    if (method === 1) {
                        let y = {};

                        if (x === line) {
                            $(this).remove();
                        } else {
                            y.foldStarted = parseFloat($(this).find(".foldStart").val());
                            y.foldEnded = parseFloat($(this).find(".foldEnd").val());
                            coords.push({"x": sheet, "y": y});
                            sheet++;
                        }
                    }
                    if (method === 2) {
                        let y = {};

                        if (x === line) {
                            $(this).remove();
                        } else {
                            let cutView = [];
                            $(this).find(".cut").each(function (index) {
                                cutView[index] = {
                                    "0": parseFloat($(this).find("#cutStart-" + x + "-" + index).val()),
                                    "1": parseFloat($(this).find("#cutEnd-" + x + "-" + index).val())
                                };
                            });
                            y.cutView = cutView;
                            coords.push({"x": sheet, "y": y});
                            sheet++;
                        }
                    }
                    if (method === 3) {
                        let y = {};

                        if (x === line) {
                            $(this).remove();
                        } else {
                            y.foldStarted = parseFloat($(this).find(".foldStart").val());
                            y.foldEnded = parseFloat($(this).find(".foldEnd").val());
                            if ($(this).find(".cut")) {
                                let cutView = [];
                                $(this).find(".cut").each(function (index) {
                                    cutView[index] = {
                                        "0": parseFloat($(this).find("#cutStart-" + x + "-" + index).val()),
                                        "1": parseFloat($(this).find("#cutEnd-" + x + "-" + index).val())
                                    };
                                });
                                y.cutView = cutView;
                            }
                            coords.push({"x": sheet, "y": y});
                            sheet++;
                        }
                    }
                    if (method === 4) {
                        let y = {};

                        if (x === line) {
                            $(this).remove();
                        } else {
                            y.foldStarted = parseFloat($(this).find(".foldStart").val());
                            y.foldEnded = parseFloat($(this).find(".foldEnd").val());
                            y.foldStarted1 = parseFloat($(this).find(".foldStart1").val());
                            y.foldEnded1 = parseFloat($(this).find(".foldEnd1").val());
                            y.halfLine = parseFloat($(this).find(".halfIn").val());

                            if ($(this).find(".cut")) {
                                let cutView = [];
                                $(this).find(".cut").each(function (index) {
                                    cutView[index] = {
                                        "0": parseFloat($(this).find("#cutStart-" + x + "-" + index).val()),
                                        "1": parseFloat($(this).find("#cutEnd-" + x + "-" + index).val())
                                    };
                                });
                                y.cutView = cutView;
                            }
                            if ($(this).find(".cut1")) {
                                let cutView1 = [];
                                $(this).find(".cut1").each(function (index) {
                                    cutView1[index] = {
                                        "0": parseFloat($(this).find("#cutStart1-" + x + "-" + index).val()),
                                        "1": parseFloat($(this).find("#cutEnd1-" + x + "-" + index).val())
                                    };
                                });
                                y.cutView1 = cutView1;
                            }
                            coords.push({"x": sheet, "y": y});
                            sheet++;
                        }
                    }
                });
                $("#tablePattern").empty();
                rebuildTable(method, coords, height);
                enableSaveButton();
            }
            function addNewLine(line, method, height) {
                let coords = [];
                let sheet = 1;
                $("tbody tr").each(function () {
                    let x = parseInt($(this).find(".sheet").val());

                    if (method === 1) {
                        let y = {};

                        y.foldStarted = parseFloat($(this).find(".foldStart").val());
                        y.foldEnded = parseFloat($(this).find(".foldEnd").val());
                        coords.push({"x": sheet, "y": y});

                        if (x === line) {
                            let y2 = {};
                            sheet++;
                            y2.foldStarted = 0.0;
                            y2.foldEnded = 0.0;

                            coords.push({"x": sheet, "y": y2});
                        }
                        sheet++;
                    }
                    if (method === 2) {
                        let y = {};
                        let cutView = [];
                        $(this).find(".cut").each(function (index) {
                            cutView[index] = {
                                "0": parseFloat($(this).find("#cutStart-" + x + "-" + index).val()),
                                "1": parseFloat($(this).find("#cutEnd-" + x + "-" + index).val())
                            };
                        });
                        y.cutView = cutView;
                        coords.push({"x": sheet, "y": y});

                        if (x === line) {
                            let y2 = {};
                            let cutView2 = [];
                            sheet++;
                            cutView2[0] = {"0": 0.0, "1": 0.0};
                            y2.cutView = cutView2;
                            coords.push({"x": sheet, "y": y2});
                        }
                        sheet++;
                    }
                    if (method === 3) {
                        let y = {};

                        y.foldStarted = parseFloat($(this).find(".foldStart").val());
                        y.foldEnded = parseFloat($(this).find(".foldEnd").val());
                        if ($(this).find(".cut")) {
                            let cutView = [];
                            $(this).find(".cut").each(function (index) {
                                cutView[index] = {
                                    "0": parseFloat($(this).find("#cutStart-" + x + "-" + index).val()),
                                    "1": parseFloat($(this).find("#cutEnd-" + x + "-" + index).val())
                                };
                            });
                            y.cutView = cutView;
                        }
                        coords.push({"x": sheet, "y": y});

                        if (x === line) {
                            let y2 = {};
                            sheet++;
                            y2.foldStarted = 0.0;
                            y2.foldEnded = 0.0;
                            y2.cutView = [];
                            coords.push({"x": sheet, "y": y2});
                        }
                        sheet++;
                    }
                    if (method === 4) {
                        let y = {};

                        y.foldStarted = parseFloat($(this).find(".foldStart").val());
                        y.foldEnded = parseFloat($(this).find(".foldEnd").val());
                        y.foldStarted1 = parseFloat($(this).find(".foldStart1").val());
                        y.foldEnded1 = parseFloat($(this).find(".foldEnd1").val());
                        y.halfLine = parseFloat($(this).find(".halfIn").val());

                        if ($(this).find(".cut")) {
                            let cutView = [];
                            $(this).find(".cut").each(function (index) {
                                cutView[index] = {
                                    "0": parseFloat($(this).find("#cutStart-" + x + "-" + index).val()),
                                    "1": parseFloat($(this).find("#cutEnd-" + x + "-" + index).val())
                                };
                            });
                            y.cutView = cutView;
                        }
                        if ($(this).find(".cut1")) {
                            let cutView1 = [];
                            $(this).find(".cut1").each(function (index) {
                                cutView1[index] = {
                                    "0": parseFloat($(this).find("#cutStart1-" + x + "-" + index).val()),
                                    "1": parseFloat($(this).find("#cutEnd1-" + x + "-" + index).val())
                                };
                            });
                            y.cutView1 = cutView1;
                        }
                        coords.push({"x": sheet, "y": y});
                        if (x === line) {
                            sheet++;

                            let y2 = {};
                            y2.foldStarted = 0.0;
                            y2.foldEnded = 0.0;
                            y2.foldStarted1 = 0.0;
                            y2.foldEnded1 = 0.0;
                            y2.cutView = [];
                            y2.cutView1 = [];
                            y2.halfLine = parseFloat($(this).find(".halfIn").val());
                            coords.push({"x": sheet, "y": y2});
                        }
                        sheet++;
                    }
                });

                $("#tablePattern").empty();
                rebuildTable(method, coords, height);
                enableSaveButton();
            }

            //export to xls and save pattern
            function exportPattern(name) {
                $("#mainTable").table2excel({
                    // exclude CSS class
                    exclude: ".noExl",
                    name: "pattern",
                    filename: name, //do not include extension
                    fileext: ".xlsx", // file extension
                    preserveColors: true
                });
            }
            function savePattern(id, method) {
                let pattern = [];
                let coords = getCoords(method);
                pattern.push({"id": id, "coords": coords});

                $.ajax({
                    type: "POST",
                    url: "{{ path('jquery_pattern_save') }}",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(pattern),
                    success: function (msg) {
                    }
                });
                document.getElementById("saveBtn").hidden = true;

            }
            function importPattern(height, method) {
                let file = document.getElementById('inputPattern').files[0];

                let coordsObj = new ExcelToJSON;

                let coords = coordsObj.parseExcel(file, method, function(){
                    $("#tablePattern").empty();
                    rebuildTable(method, coords, height);
                    $('#importPatternModal').modal("hide");
                    enableSaveButton();
                });
            }

            // HLP functions
            function enableSaveButton() {
                document.getElementById("saveBtn").hidden = false;
            }
            function getCoords (method) {
                let coords = [];
                let sheet = 1;
                $("tbody tr").each(function () {
                    let x = parseInt($(this).find(".sheet").val());

                    if (method === 1) {
                        let y = {};
                        y.foldStarted = Math.round(parseFloat($(this).find(".foldStart").val()) / 0.02645);
                        y.foldEnded = Math.round(parseFloat($(this).find(".foldEnd").val()) / 0.02645);

                        coords.push({"y": y, "x": sheet});
                        sheet++;
                    }
                    if (method === 2) {
                        let y = {};
                        let cutView = [];
                        $(this).find(".cut").each(function (index) {
                            cutView[index] = {
                                "0": Math.round(parseFloat($(this).find("#cutStart-" + x + "-" + index).val()) / 0.02645),
                                "1": Math.round(parseFloat($(this).find("#cutEnd-" + x + "-" + index).val()) / 0.02645)
                            };
                        });
                        y.cutView = cutView;

                        coords.push({"y": y,"x": sheet});

                        sheet++;
                    }
                    if (method === 3) {
                        let y = {};

                        y.foldStarted = Math.round(parseFloat($(this).find(".foldStart").val()) / 0.02645);
                        y.foldEnded = Math.round(parseFloat($(this).find(".foldEnd").val()) / 0.02645);

                        if ($(this).find(".cut")) {
                            let cutView = [];
                            $(this).find(".cut").each(function (index) {
                                cutView[index] = {
                                    "0": Math.round(parseFloat($(this).find("#cutStart-" + x + "-" + index).val()) / 0.02645),
                                    "1": Math.round(parseFloat($(this).find("#cutEnd-" + x + "-" + index).val()) / 0.02645)
                                };
                            });
                            y.cutView = cutView;
                        }
                        coords.push({"y": y,"x": sheet});

                        sheet++;
                    }
                    if (method === 4) {
                        let y = {};

                        y.foldStarted = Math.round(parseFloat($(this).find(".foldStart").val()) / 0.02645);
                        y.foldEnded = Math.round(parseFloat($(this).find(".foldEnd").val()) / 0.02645);
                        y.foldStarted1 = Math.round(parseFloat($(this).find(".foldStart1").val()) / 0.02645);
                        y.foldEnded1 = Math.round(parseFloat($(this).find(".foldEnd1").val()) / 0.02645);
                        y.halfStarted = Math.round(parseFloat($(this).find(".halfIn").val()) / 0.02645);
                        y.halfEnded = Math.round(parseFloat($(this).find(".halfIn").val()) / 0.02645) + 1;

                        if ($(this).find(".cut")) {
                            let cutView = [];
                            $(this).find(".cut").each(function (index) {
                                cutView[index] = {
                                    "0": Math.round(parseFloat($(this).find("#cutStart-" + x + "-" + index).val()) / 0.02645),
                                    "1": Math.round(parseFloat($(this).find("#cutEnd-" + x + "-" + index).val()) / 0.02645)
                                };
                            });
                            y.cutView = cutView;
                        }
                        if ($(this).find(".cut1")) {
                            let cutView1 = [];
                            $(this).find(".cut1").each(function (index) {
                                cutView1[index] = {
                                    "0": Math.round(parseFloat($(this).find("#cutStart1-" + x + "-" + index).val()) / 0.02645),
                                    "1": Math.round(parseFloat($(this).find("#cutEnd1-" + x + "-" + index).val()) / 0.02645)
                                };
                            });
                            y.cutView1 = cutView1;
                        }
                        coords.push({"y": y,"x": sheet});
                        sheet++;
                    }
                });
                return coords;
            }
            function rebuildTable(method, coords, height) {
                console.log(coords);
                let str = '';
                if (method === 1) {
                    $.each(coords, function (coord) {
                        str +=
                            '<tr id="' + coords[coord].x + '">' +
                            '<td class="index">' +
                            '<div class="h-10">' +
                            '<button type="button" class="minus" onclick="removeLine(' + coords[coord].x + ', ' + method + ', ' + height +')"></button>' +
                            '<button type="button" class="plus" onclick="addNewLine(' + coords[coord].x + ', ' + method + ', ' + height + ')"></button>' +
                            coords[coord].x +
                            '<input class="sheet" id="sheet-'+ coords[coord].x +'" hidden type="number" value="' + coords[coord].x + '">' +
                            '</div>' +
                            '</td>' +
                            '<td>' +
                            '<div class="h-10">' +
                            '<input class="foldEnd" step="0.1" id="foldEnd-' + coords[coord].x + '" type="number" onchange="changeFold( ' + coords[coord].x + ', ' + height + ' )" value="' + coords[coord].y.foldEnded + '">' +
                            '</div>' +
                            '</td>' +
                            '<td>' +
                            '<div class="h-10">' +
                            '<input class="foldStart" step="0.1" id="foldStart-' + coords[coord].x + '" type="number" onchange="changeFold( ' + coords[coord].x + ', ' + height + ' )" value="' + coords[coord].y.foldStarted + '">' +
                            '</div>' +
                            '</td>' +
                            '<td style="position: relative">' +
                            '<div class="h-10">' +
                            '<div id="fold-' + coords[coord].x + '" style="top: 0; right: ' + (coords[coord].y.foldStarted / 0.02645) / height + '%; width: ' + ((coords[coord].y.foldEnded / 0.02645) - (coords[coord].y.foldStarted / 0.02645)) / height + '%; position: absolute;background-color: black; height: 85%"></div>' +
                            '</div>' +
                            '</td>' +
                            '</tr>'
                        ;
                    });
                    $("#tablePattern").append(str);
                }
                if (method === 2) {
                    $.each(coords, function (coord) {
                        str +=
                            '<tr id="' + coords[coord].x + '">' +
                            '<td class="index">' +
                            '<div class="h-10">' +
                            '<button type="button" class="minus" onclick="removeLine(' + coords[coord].x + ', ' + method + ', ' + height +')"></button>' +
                            '<button type="button" class="plus" onclick="addNewLine(' + coords[coord].x + ', ' + method + ', ' + height + ')"></button>' +
                            coords[coord].x +
                            '<input class="sheet" id="sheet-'+ coords[coord].x +'" hidden type="number" value="' + coords[coord].x + '">' +
                            '</div>' +
                            '</td>' +
                            '<td class="cutTd">'+
                            '<div class="h-10">' +
                            '<div style="display: flex">'
                        ;
                        $.each(coords[coord].y.cutView, function (index) {
                            str +=
                                '<div class="cut" style="border-color: #FFFFFF">' +
                                '<input class="cutEnd" step="0.1" id="cutEnd-' + coords[coord].x + '-' + index + '" type="number" onchange="changeCut(' + coords[coord].x + ', ' + index + ', ' + height + ')" value="' + coords[coord].y.cutView[index][1] + '">' +
                                '<input class="cutStart" step="0.1" id="cutStart-' + coords[coord].x + '-' + index + '" type="number" onchange="changeCut(' + coords[coord].x + ', ' + index + ', ' + height + ')" value="' + coords[coord].y.cutView[index][0] + '" style="margin-right: 5px">' +
                                '</div>'
                            ;
                        });
                        str +=
                            '</div>'+
                            '</div>'+
                            '</td>' +
                            '<td style="position: relative">' +
                            '<div class="h-10">'
                        ;
                        $.each(coords[coord].y.cutView, function (index) {
                            str +=      '<div class="cutLine" id="cut-' + coords[coord].x + '-' + index + '" style="top: 0; right:' + (coords[coord].y.cutView[index][0] / 0.02645) / height + '%; width:' + ((coords[coord].y.cutView[index][1] / 0.02645) - (coords[coord].y.cutView[index][0]) / 0.02645) / height + '%; position: absolute;background-color: black; height: 85%"></div>';
                        });
                        str +=
                            '</div>'+
                            '</td>' +
                            '</tr>'
                        ;
                    });
                    $("#tablePattern").append(str);
                }
                if (method === 3) {
                    $.each(coords, function (coord) {
                        str +=
                            '<tr id="' + coords[coord].x + '">' +
                            '<td class="index">' +
                            '<div class="h-10">' +
                            '<button type="button" class="minus" onclick="removeLine(' + coords[coord].x + ', ' + method + ', ' + height +')"></button>' +
                            '<button type="button" class="plus" onclick="addNewLine(' + coords[coord].x + ', ' + method + ', ' + height + ')"></button>' +
                            coords[coord].x +
                            '<input class="sheet" id="sheet-'+ coords[coord].x +'" hidden type="number" value="' + coords[coord].x + '">' +
                            '</div>' +
                            '</td>' +
                            '<td>' +
                            '<div class="h-10">' +
                            '<input class="foldEnd" step="0.1" id="foldEnd-' + coords[coord].x + '" type="number" onchange="changeFold( ' + coords[coord].x + ', ' + height + ' )" value="' + coords[coord].y.foldEnded + '"> ' +
                            '</div>' +
                            '</td>' +
                            '<td class="cutTd">' +
                            '<div class="h-10">' +
                            '<div style="display: flex;">'
                        ;
                        $.each(coords[coord].y.cutView, function (index) {
                            str +=
                                '<div class="cut" style="border-color: #FFFFFF">' +
                                '<input class="cutEnd" step="0.1" id="cutEnd-' + coords[coord].x + '-' + index + '" type="number" onchange="changeCut(' + coords[coord].x + ', ' + index + ', ' + height + ')" value="' + coords[coord].y.cutView[index][1] + '">' +
                                '<input class="cutStart" step="0.1" id="cutStart-' + coords[coord].x + '-' + index + '" type="number" onchange="changeCut(' + coords[coord].x + ', ' + index + ', ' + height + ')" value="' + coords[coord].y.cutView[index][0] + '" style="margin-right: 5px">' +
                                '</div>'
                            ;
                        });
                        str +=          '</div>' +
                            '</div>' +
                            '</td>' +
                            '<td>' +
                            '<div class="h-10">' +
                            '<input class="foldStart" step="0.1" id="foldStart-' + coords[coord].x + '" type="number" onchange="changeFold( ' + coords[coord].x + ', ' + height + ' )" value="' + coords[coord].y.foldStarted + '"> ' +
                            '</div>' +
                            '</td>' +
                            '<td style="position: relative">' +
                            '<div class="h-10">' +
                            '<div id="fold-' + coords[coord].x + '" style="top: 0; right: ' + (coords[coord].y.foldStarted / 0.02645) / height + '%; width: ' + ((coords[coord].y.foldEnded / 0.02645) - (coords[coord].y.foldStarted / 0.02645)) / height + '%; position: absolute;background-color: black; height: 85%"></div>'
                        ;
                        $.each(coords[coord].y.cutView, function (index) {
                            str +=          '<div class="cutLine" id="cut-' + coords[coord].x + '-' + index + '" style="top: 0; right:' + (coords[coord].y.cutView[index][0] / 0.02645) / height + '%; width:' + ((coords[coord].y.cutView[index][1] / 0.02645) - (coords[coord].y.cutView[index][0]) / 0.02645) / height + '%; position: absolute;background-color: yellow; height: 85%"></div>';
                        });
                        str +=          '</div>' +
                            '</div>' +
                            '</td>' +
                            '</tr>'
                        ;
                    });
                    $("#tablePattern").append(str);
                }
                if (method === 4) {
                    $.each(coords, function (coord) {
                        str +=
                            '<tr id="' + coords[coord].x + '">' +
                            '<td class="index">' +
                            '<div class="h-10">' +
                            '<button type="button" class="minus" onclick="removeLine(' + coords[coord].x + ', ' + method + ', ' + height +')"></button>' +
                            '<button type="button" class="plus" onclick="addNewLine(' + coords[coord].x + ', ' + method + ', ' + height + ')"></button>' +
                            coords[coord].x +
                            '<input class="sheet" id="sheet-'+ coords[coord].x +'" hidden type="number" value="' + coords[coord].x + '">' +
                            '</div>' +
                            '</td>' +
                            '<td>' +
                            '<div class="h-10">' +
                            '<input class="foldEnd1" step="0.1" id="foldEnd1-' + coords[coord].x + '" type="number" onchange="changeFold1( ' + coords[coord].x + ', ' + height + ' )" value="' + coords[coord].y.foldEnded1 + '"> ' +
                            '</div>' +
                            '</td>' +
                            '<td class="cutTd1">' +
                            '<div class="h-10">' +
                            '<div style="display: flex;">'
                        ;
                        $.each(coords[coord].y.cutView1, function (index) {
                            str +=
                                '<div class="cut1" style="border-color: #FFFFFF">' +
                                '<input class="cutEnd1" step="0.1" id="cutEnd1-' + coords[coord].x + '-' + index + '" type="number" onchange="changeCut1(' + coords[coord].x + ', ' + index + ', ' + height + ')" value="' + coords[coord].y.cutView1[index][1] + '">' +
                                '<input class="cutStart1" step="0.1" id="cutStart1-' + coords[coord].x + '-' + index + '" type="number" onchange="changeCut1(' + coords[coord].x + ', ' + index + ', ' + height + ')" value="' + coords[coord].y.cutView1[index][0] + '" style="margin-right: 5px">' +
                                '</div>'
                            ;
                        });
                        str +=          '</div>' +
                            '</div>' +
                            '</td>' +
                            '<td>' +
                            '<div class="h-10">' +
                            '<input class="foldStart1" step="0.1" id="foldStart1-' + coords[coord].x + '" type="number" onchange="changeFold1( ' + coords[coord].x + ', ' + height + ' )" value="' + coords[coord].y.foldStarted1 + '"> ' +
                            '</div>' +
                            '</td>'+
                            '<td>' +
                            '<div class="h-10">' +
                            '<input class="halfIn" step="0.1" id="halfIn-' + coords[coord].x + '" type="number" onchange="changeHalf( ' + coords[coord].x + ', ' + height + ' )" value="' + coords[coord].y.halfLine + '"> ' +
                            '</div>' +
                            '</td>' +
                            '<td>' +
                            '<div class="h-10">' +
                            '<input class="foldEnd" step="0.1" id="foldEnd-' + coords[coord].x + '" type="number" onchange="changeFold( ' + coords[coord].x + ', ' + height + ' )" value="' + coords[coord].y.foldEnded + '"> ' +
                            '</div>' +
                            '</td>' +
                            '<td class="cutTd">' +
                            '<div class="h-10">' +
                            '<div style="display: flex;">'
                        ;
                        $.each(coords[coord].y.cutView, function (index) {
                            str +=
                                '<div class="cut" style="border-color: #FFFFFF">' +
                                '<input class="cutEnd" step="0.1" id="cutEnd-' + coords[coord].x + '-' + index + '" type="number" onchange="changeCut(' + coords[coord].x + ', ' + index + ', ' + height + ')" value="' + coords[coord].y.cutView[index][1] + '">' +
                                '<input class="cutStart" step="0.1" id="cutStart-' + coords[coord].x + '-' + index + '" type="number" onchange="changeCut(' + coords[coord].x + ', ' + index + ', ' + height + ')" value="' + coords[coord].y.cutView[index][0] + '" style="margin-right: 5px">' +
                                '</div>'
                            ;
                        });
                        str +=          '</div>' +
                            '</div>' +
                            '</td>' +
                            '<td>' +
                            '<div class="h-10">' +
                            '<input class="foldStart" step="0.1" id="foldStart-' + coords[coord].x + '" type="number" onchange="changeFold( ' + coords[coord].x + ', ' + height + ' )" value="' + coords[coord].y.foldStarted + '"> ' +
                            '</div>' +
                            '</td>'
                        ;
                        str +=
                            '<td style="position: relative">' +
                            '<div class="h-10">' +
                            '<div id="fold1-' + coords[coord].x + '" style="top: 0; right: ' + (coords[coord].y.foldStarted1 / 0.02645) / height + '%; width: ' + ((coords[coord].y.foldEnded1 / 0.02645) - (coords[coord].y.foldStarted1 / 0.02645)) / height + '%; position: absolute;background-color: black; height: 85%"></div>'
                        ;
                        $.each(coords[coord].y.cutView1, function (index) {
                            str +=
                                '<div class="cutLine1" id="cut1-' + coords[coord].x + '-' + index + '" style="top: 0; right:' + (coords[coord].y.cutView1[index][0] / 0.02645) / height + '%; width:' + ((coords[coord].y.cutView1[index][1] / 0.02645) - (coords[coord].y.cutView1[index][0]) / 0.02645) / height + '%; position: absolute;background-color: yellow; height: 85%"></div>'
                            ;
                        });
                        str +=
                            '<div id="half-' + coords[coord].x + '" class="half" style="top: 0; right: ' + (coords[coord].y.halfLine / 0.02645) / height + '%; width: 1%; position: absolute;background-color: green; height: 100%"></div>' +
                            '<div id="fold-' + coords[coord].x + '" style="top: 0; right: ' + (coords[coord].y.foldStarted / 0.02645) / height + '%; width: ' + ((coords[coord].y.foldEnded / 0.02645) - (coords[coord].y.foldStarted / 0.02645)) / height + '%; position: absolute;background-color: black; height: 85%"></div>'
                        ;
                        $.each(coords[coord].y.cutView, function (index) {
                            str +=
                                '<div class="cutLine" id="cut-' + coords[coord].x + '-' + index + '" style="top: 0; right:' + (coords[coord].y.cutView[index][0] / 0.02645) / height + '%; width:' + ((coords[coord].y.cutView[index][1] / 0.02645) - (coords[coord].y.cutView[index][0]) / 0.02645) / height + '%; position: absolute;background-color: yellow; height: 85%"></div>'
                            ;
                        });
                        str +=
                            '</div>' +
                            '</td>' +
                            '</tr>'
                        ;
                    });
                    $("#tablePattern").append(str);
                }
            }

            // PDF export
            function exportPatternAsPDF(name, height, method) {
                let coords = getCoords(method);
                console.log(coords);

                let x = 2;
                let line = 1;
                let str = '';
                let page = 1;
                let doc = new jsPDF({
                    orientation: 'p',
                    unit: 'cm',
                    format: 'a4'
                });
                if ( method === 1 ) {
                    str = name + ' (Skladani)';
                }
                if ( method === 2 ) {
                    str = name + ' (Strihani)';
                }
                if ( method === 3 ) {
                    str = name + ' (Kombinovane)';
                }
                if ( method === 4 ) {
                    str = name + ' (Kombinovane + stredova cara)';
                }

                addPage(doc, str);
                if ( method === 1 ) {
                    $.each(coords, function(coord) {
                        addFoldLine(doc, coords, coord, height, x, 0, 0);

                        x = x + 0.3703;
                        line++;
                        if (line === 48) {
                            doc.addPage();
                            addPage(doc, str);
                            x = 1.8;
                            line = 0;
                            page++;
                        }
                    });
                }
                if ( method === 2 ) {
                    $.each(coords, function(coord) {
                        $.each(coords[coord].y.cutView, function (index) {
                            addCutLine(doc, coords, coord, height, x, index, 0, 0, 0);
                        });

                        x = x + 0.3703;
                        line++;
                        if (line === 48) {
                            doc.addPage();
                            addPage(doc, str);
                            x = 1.8;
                            line = 0;
                            page++;
                        }
                    });
                }
                if ( method === 3 ) {
                    $.each(coords, function(coord) {
                        doc.setDrawColor('#000000');
                        addFoldLine(doc, coords, coord, height, x, 1, 0);
                        if ( coords[coord].y.cutView.length > 0 ) {
                            $.each(coords[coord].y.cutView, function (index) {
                                doc.setDrawColor('#FFFFFF');
                                addCutLine(doc, coords, coord, height, x, index, 0, 1, 0);
                            });
                        }
                        x = x + 0.3703;
                        line++;
                        if (line === 48) {
                            doc.addPage();
                            addPage(doc, str);
                            x = 1.8;
                            line = 0;
                            page++;
                        }
                    });
                }
                if ( method === 4 ) {
                    $.each(coords, function(coord) {
                        doc.setDrawColor('#000000');
                        if ( coords[coord].y.foldStarted && coords[coord].y.foldEnded ) {
                            addFoldLine(doc, coords, coord, height, x, 1, 0);
                        }
                        if ( coords[coord].y.cutView.length > 0 ) {
                            $.each(coords[coord].y.cutView, function (index) {
                                doc.setDrawColor('#FFFFFF');
                                addCutLine(doc, coords, coord, height, x, index, 0, 1, 0);
                            });
                        }
                        doc.setDrawColor('#000000');

                        if ( coords[coord].y.foldStarted1 && coords[coord].y.foldEnded1 ) {
                            addFoldLine(doc, coords, coord, height, x, 2, 0);
                        }
                        if ( coords[coord].y.cutView1.length > 0 ) {
                            $.each(coords[coord].y.cutView1, function (index) {
                                doc.setDrawColor('#FFFFFF');
                                addCutLine(doc, coords, coord, height, x, index, 1, 1, 0);
                            });
                        }

                        doc.setDrawColor('#008000');
                        doc.line(x-0.18515, (coords[coord].y.halfStarted * 0.02645) + 4.3, x-0.18515, (coords[coord].y.halfEnded * 0.02645) + 4.4);
                        doc.line(x, (coords[coord].y.halfStarted * 0.02645) + 4.3, x, (coords[coord].y.halfEnded * 0.02645) + 4.4);
                        x = x + 0.3703;
                        line++;
                        if (line === 48) {
                            doc.addPage();
                            addPage(doc, str);
                            x = 1.8;
                            line = 0;
                            page++;
                        }
                    });
                }

                for (var i = 1; i <= page; i++) {
                    doc.setPage(i);
                    doc.setFontSize(20);
                    let text = i + ' z ' + page;
                    const y = 27.5;
                    const textWidth = doc.getStringUnitWidth(text) * doc.internal.getFontSize() / doc.internal.scaleFactor;
                    const textOffset = (doc.internal.pageSize.width - textWidth) / 2;
                    doc.text(text, textOffset, y);
                }

                doc.save(name+'.pdf');
            }
            function fastExportPatternAsPDF(name, height, method) {
                let coords = getCoords(method);

                let x = 2;
                let line = 1;
                let str = '';
                let page = 1;
                let doc = new jsPDF({
                    orientation: 'p',
                    unit: 'cm',
                    format: 'a4'
                });
                if ( method === 1 ) {
                    str = name + ' (Skladani)';
                }
                if ( method === 2 ) {
                    str = name + ' (Strihani)';
                }
                if ( method === 3 ) {
                    str = name + ' (Kombinovane)';
                }
                if ( method === 4 ) {
                    str = name + ' (Kombinovane + stredova cara)';
                }

                addPage(doc, str);
                let lineWidth = 0.0265*2.5;
                doc.setLineWidth(lineWidth);
                if ( method === 1 ) {
                    $.each(coords, function(coord) {
                        addFoldLine(doc, coords, coord, height, x, 0, 1);

                        x = x + (lineWidth*2);
                        line++;
                        if (line === 135) {
                            doc.addPage();
                            addPage(doc, str);
                            doc.setLineWidth(lineWidth);
                            x = 1.8;
                            line = 0;
                            page++;
                        }
                    });
                }
                if ( method === 2 ) {
                    $.each(coords, function(coord) {
                        $.each(coords[coord].y.cutView, function (index) {
                            addCutLine(doc, coords, coord, height, x, index, 0, 0, 1);
                        });

                        x = x + (lineWidth*2);
                        line++;
                        if (line === 135) {
                            doc.addPage();
                            addPage(doc, str);
                            x = 1.8;
                            doc.setLineWidth(lineWidth);
                            line = 0;
                            page++;
                        }
                    });
                }
                if ( method === 3 ) {
                    $.each(coords, function(coord) {
                        doc.setDrawColor('#000000');
                        addFoldLine(doc, coords, coord, height, x, 1, 1);
                        if ( coords[coord].y.cutView.length > 0 ) {
                            $.each(coords[coord].y.cutView, function (index) {
                                doc.setDrawColor('#FFFFFF');
                                addCutLine(doc, coords, coord, height, x, index, 0, 1, 1);
                            });
                        }
                        x = x + (lineWidth*2);
                        line++;
                        if (line === 135) {
                            doc.addPage();
                            addPage(doc, str);
                            doc.setLineWidth(lineWidth);
                            x = 1.8;
                            line = 0;
                            page++;
                        }
                    });
                }
                if ( method === 4 ) {
                    $.each(coords, function(coord) {
                        doc.setDrawColor('#000000');
                        if ( coords[coord].y.foldStarted && coords[coord].y.foldEnded ) {
                            addFoldLine(doc, coords, coord, height, x, 1, 1);
                        }
                        if ( coords[coord].y.cutView.length > 0 ) {
                            $.each(coords[coord].y.cutView, function (index) {
                                doc.setDrawColor('#FFFFFF');
                                addCutLine(doc, coords, coord, height, x, index, 0, 1, 1);
                            });
                        }
                        doc.setDrawColor('#000000');

                        if ( coords[coord].y.foldStarted1 && coords[coord].y.foldEnded1 ) {
                            addFoldLine(doc, coords, coord, height, x, 2, 1);
                        }
                        if ( coords[coord].y.cutView1.length > 0 ) {
                            $.each(coords[coord].y.cutView1, function (index) {
                                doc.setDrawColor('#FFFFFF');
                                addCutLine(doc, coords, coord, height, x, index, 1, 1, 1);
                            });
                        }

                        doc.setDrawColor('#008000');
                        doc.line(x-0.18515, (coords[coord].y.halfStarted * 0.02645) + 4.3, x-0.18515, (coords[coord].y.halfEnded * 0.02645) + 4.4);
                        doc.line(x, (coords[coord].y.halfStarted * 0.02645) + 4.3, x, (coords[coord].y.halfEnded * 0.02645) + 4.4);
                        x = x + (lineWidth*2);
                        line++;
                        if (line === 135) {
                            addPage(doc, str);
                            doc.setLineWidth(lineWidth);
                            x = 1.8;
                            line = 0;
                            page++;
                        }
                    });
                }

                for (var i = 1; i <= page; i++) {
                    doc.setPage(i);
                    doc.setFontSize(20);
                    let text = i + ' z ' + page;
                    const y = 27.5;
                    const textWidth = doc.getStringUnitWidth(text) * doc.internal.getFontSize() / doc.internal.scaleFactor;
                    const textOffset = (doc.internal.pageSize.width - textWidth) / 2;
                    doc.text(text, textOffset, y);
                }

                doc.save('fastExport-'+name+'.pdf');
            }
            function addPage(doc, text) {
                doc.setDrawColor('#000000');
                doc.setFontSize(20);
                const y = 26.5;
                const textWidth = doc.getStringUnitWidth(text) * doc.internal.getFontSize() / doc.internal.scaleFactor;
                const textOffset = (doc.internal.pageSize.width - textWidth) / 2;
                doc.text(text, textOffset, y);

                doc.setLineWidth(0.05);
                doc.setFontSize(10);
                doc.setLineDash([0.1, 0.1], 0);
                doc.line(3, 1.8, 18.5, 1.8);
                doc.text('24 cm', 2, 1.9);
                doc.setLineDash([0.2, 0.2], 0);
                doc.line(3, 2.8, 18.5, 2.8);
                doc.text('22cm', 2, 2.9);
                doc.setLineDash();
                doc.line(3, 3.8, 18.5, 3.8);
                doc.text('20cm', 2, 3.9);
                doc.setLineWidth(0.18515);
            }
            function addFoldLine(doc, coords, coord, height, x, half, fastExport) {
                let foldStarted = 0;
                let foldEnded = 0;
                if (fastExport) {
                    doc.setFontSize(3);
                }
                if ( half === 0 ) {
                    foldStarted = coords[coord].y.foldStarted * 0.02645;
                    foldEnded = coords[coord].y.foldEnded * 0.02645;
                }
                if ( half === 1 ) {
                    foldStarted = coords[coord].y.foldStarted * 0.02645;
                    foldEnded = coords[coord].y.foldEnded * 0.02645;
                }
                if ( half === 2 ) {
                    foldStarted = coords[coord].y.foldStarted1 * 0.02645;
                    foldEnded = coords[coord].y.foldEnded1 * 0.02645;
                }
                if (height === 24 ) {
                    doc.line(x, foldStarted+2.4, x, foldEnded+2.4);
                    doc.text('' + coords[coord].x + '', x - 0.1, foldStarted + 1.7, null, 270);
                    doc.text('' + coords[coord].x + '', x + 0.1, foldEnded + 3.1, null, 90);
                }
                if (height === 22 ) {
                    doc.line(x, foldStarted+3.4, x, foldEnded+3.4);
                    doc.text('' + coords[coord].x + '', x - 0.1, foldStarted + 2.7, null, 270);
                    doc.text('' + coords[coord].x + '', x + 0.1, foldEnded + 4.1, null, 90);
                }
                if (height === 20 ) {
                    doc.line(x, foldStarted+4.4, x, foldEnded+4.4);
                    doc.text('' + coords[coord].x + '', x - 0.1, foldStarted + 3.7, null, 270);
                    doc.text('' + coords[coord].x + '', x + 0.1, foldEnded + 5.1, null, 90);
                }
            }
            function addCutLine(doc, coords, coord, height, x, index, half, textRequired, fastExport){
                let cutStarted = 0;
                let cutEnded = 0;
                if (fastExport) {
                    doc.setFontSize(3);
                }
                if ( half === 0 ) {
                    cutStarted = coords[coord].y.cutView[index][0] * 0.02645;
                    cutEnded = coords[coord].y.cutView[index][1] * 0.02645;
                } else {
                    cutStarted = coords[coord].y.cutView1[index][0] * 0.02645;
                    cutEnded = coords[coord].y.cutView1[index][1] * 0.02645;
                }

                if (height === 24) {
                    doc.line(x, cutStarted + 2.4, x, cutEnded + 2.4);
                    if ( textRequired === 0 ) {
                        doc.text('' + coords[coord].x + '', x - 0.1, cutStarted + 1.7, null, 270);
                        doc.text('' + coords[coord].x + '', x + 0.1, cutEnded + 3.1, null, 90);
                    }
                }
                if (height === 22) {
                    doc.line(x, cutStarted + 3.4, x, cutEnded + 3.4);
                        if ( textRequired === 0 ) {
                            doc.text('' + coords[coord].x + '', x - 0.1, cutStarted + 2.7, null, 270);
                            doc.text('' + coords[coord].x + '', x + 0.1, cutEnded + 4.1, null, 90);
                        }
                }
                if (height === 20) {
                    doc.line(x, cutStarted + 4.4, x, cutEnded + 4.4);
                    if ( textRequired === 0 ) {
                        doc.text('' + coords[coord].x + '', x - 0.1, cutStarted + 3.7, null, 270);
                        doc.text('' + coords[coord].x + '', x + 0.1, cutEnded + 5.1, null, 90);
                    }
                }
            }

            let ExcelToJSON = function () {
                this.parseExcel = function (file, method, callback) {
                    let reader = new FileReader();
                    let coords = [];

                    reader.onload = function (e) {

                        let data = e.target.result;
                        let workbook = XLSX.read(data, {
                            type: 'binary'
                        });

                        workbook.SheetNames.forEach(function (sheetName) {
                            // Here is your object
                            let XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
                            console.log(XL_row_object);
                            $.each(XL_row_object, function(coord) {
                                let cutIndex = 0;
                                let cutStarted = 0;
                                let cutView = [];
                                let cutView1 = [];
                                let y = {};
                                if (method === 1 || method === 3 || method === 4 ) {
                                    y.foldStarted = parseFloat(XL_row_object[coord].foldStarted);
                                    y.foldEnded = parseFloat(XL_row_object[coord].foldEnded);
                                }
                                if (method === 4 ) {
                                    y.foldStarted1 = parseFloat(XL_row_object[coord].foldStarted2);
                                    y.foldEnded1 = parseFloat(XL_row_object[coord].foldEnded2);
                                    y.halfLine = parseFloat(XL_row_object[coord].halfLine);
                                }

                                if (method === 2 || method === 3 || method === 4) {
                                    $.each(Object.keys(XL_row_object[coord]), function(key, element) {
                                        if (element.includes("cutStarted1-")) {
                                            cutStarted = parseFloat(XL_row_object[coord][element]);
                                        }
                                        if (element.includes("cutEnded1-")) {
                                            cutView[cutIndex] = {
                                                "0": cutStarted,
                                                "1": parseFloat(XL_row_object[coord][element])
                                            }
                                            cutIndex++;
                                        }
                                    });

                                    y.cutView = cutView;
                                }
                                if (method === 4) {
                                    cutIndex = 0;
                                    $.each(Object.keys(XL_row_object[coord]), function(key, element) {
                                        if (element.includes("cutStarted2-")) {
                                            cutStarted = parseFloat(XL_row_object[coord][element]);
                                        }
                                        if (element.includes("cutEnded2-")) {
                                            cutView1[cutIndex] = {
                                                "0": cutStarted,
                                                "1": parseFloat(XL_row_object[coord][element])
                                            }
                                            cutIndex++;
                                        }
                                    });

                                    y.cutView1 = cutView1;
                                }

                                coords.push({"x": parseInt(XL_row_object[coord].x), "y": y});
                            });
                        })

                        if(callback) {
                            callback();
                        }
                    };

                    reader.onerror = function (ex) {
                        console.log(ex);
                    };

                    reader.readAsBinaryString(file);
                    return coords;
                };
            };
        </script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
